@model DEMO.Models.PERSONA

@{
    ViewBag.Title = "BuscarPersona";
}

@*fUE AGREGADO*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<h2>BuscarPersona</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PERSONA</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRES, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRES)
                @Html.ValidationMessageFor(model => model.NOMBRES)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.APELLIDOS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APELLIDOS)
                @Html.ValidationMessageFor(model => model.APELLIDOS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FECHA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHA)
                @Html.ValidationMessageFor(model => model.FECHA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @*VIENE POR DEFECTO*@

    @Scripts.Render("~/bundles/jqueryval")


    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>

    <script>
        $("#FECHA").datepicker({ dateFormat: "dd/mm/yy" }).mask("99/99/9999");
        $.validator.addMethod('date',
        function (value, element, params) {
            if (this.optional(element)) {
                return true;
            }
            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
    </script>
}





@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
